<div class="movimientos-wrapper transacciones-wrapper">
  <div class="component-header">
    <div class="component-route config-route">
      <h1>
        Configuración
        <a href="/panel">Inicio ></a>
        <a href="#">Configuración</a>
      </h1>
    </div>
  </div>
  <div class="sidebar-body">
    {{>card-user}}
    <div class="movimientos-box transacciones-box">
      <h1 class="title-contactos">Tarjeta principal</h1>
      <div class="wrapper-contacts">
          <div class="card-information">
              <div class="icon">
                  <i class="fa fa-cc-{{tipo}} icon-inner" aria-hidden="true"></i>
                  <span class="principal">Tarjeta principal</span>
              </div>
              <div class="info-text">
                  <p><strong>Número de tarjeta:</strong> {{numero}}</p>
                  <p><strong>Vencimiento:</strong> {{expira}}</p>
                  <p><strong>Locación:</strong> {{address}}</p>
                  <p><strong>Tipo:</strong> {{tipo}}</p>
              </div>
          </div>
      </div>
      <button>Asociar tarjeta <i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
  </div>
</div>