<div class="movimiento">
    {{#each movimiento}}
    <h1>Información Detallada</h1>
    <p><strong>Concepto:</strong> {{concepto}}</p>
    <p><strong>Correo:</strong> {{correo}}</p>
    <p><strong>Fecha:</strong> {{fecha}}</p>
    <p><strong>Cantidad:</strong> {{cantidad}} MXN</p>
    <p class="warning">Se ha {{tipo}} esta transacción</p>
    <div class="movimiento-btn">
        <button class="imprimir">Imprimir comprobante</button>
        <a href="/movimientos">Atrás</a>
    </div>
    {{/each}}
</div>