<div class="configuration-wrapper">
  <div class="user-information-card">
    <div class="information-card_header">
      <a href="/edit/config">
        <i class="fa fa-pencil-square" aria-hidden="true"></i></a>
    </div>
    <i class="fa fa-user-circle" aria-hidden="true"></i>
    <p>{{name}}</p>
    <p>{{email}}</p>
    <p>{{phone}}</p>
    <p>{{age}} años</p>
  </div>
  <div class="information-card_footer">
    <span>Saldo: {{saldo}} $</span>
  </div>
</div>